body{
    background-color: #191414;
    color: white;
    margin:0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main{
    height: 100vh;
    display: flex;
}
.side{
    width: 250px;
    background-color:rgb(33, 30, 30) ;
    margin: 10px;
    height: 100vh;
    box-sizing: border-box;
}

.navbar{
    height: 135px;
    width: 230px;
    color:white;
    background-color: rgb(45, 41, 41);
    margin :10px;
    border-radius: 10px;
    line-height: 20px;
    display: flex;
    /* box-shadow: 0 4px 8px rgba(218, 217, 206, 0.1); */
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    padding-left: 30px;
    padding-top: 5px;
    display: inline-block;
    margin-right: 15PX;
}

#logotext{
    padding-top:10px ;
}
li{
    display: inline-flex;
}

.navbar:hover {
    transform: scale(1.05);
}

.second{
    height: 100vh;
    width: 230px;
}

.lib{
    height:30%;
    width: 230px;
    background-color: rgb(33, 30, 30);
    color: white;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* box-shadow: 0 4px 8px rgba(218, 217, 206, 0.1); */
    overflow: auto;
    position: relative;
    padding-top: 10px;
    /* padding-left:10px; */
}

.top{
    height: 10%;
    width:190px;
    background-color: rgb(45, 41, 41);
    margin-left: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 20px;
    position: sticky;
    border-radius: 0%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 5px;
    font-size: 18px;
    
}

#mlib{
    padding-top: 25px;
    margin-right: 30px;  
}
#lib{
    padding-top: 0px;
    text-align: center;
}
.inner1{
    background-color: rgb(45, 41, 41);
    height: 60%;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#line1{
    font-size: 15px;
    padding-left: 10px;
    line-height: 20px;
}
#line2{
    font-size: smaller;
    padding-left: 10px;
}
.create-playlist{
    border-radius: 20px;
    height: 10%;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: black;

}

.inner2{
    background-color: rgb(45, 41, 41);
    height: 70%;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.last{
    background-color: rgb(33, 30, 30);
    margin: 10px;
    margin-top: 0px;
    border-radius: 0px;
    height:150px;
    width: 210px;
    font-size: 10px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
    word-spacing: 15px;
    line-height:30px;
    color:#968989;
}

#lang{
    border-radius: 20px;
    padding: 10px 20px;
    border-color: white;
    background-color: rgb(33, 30, 30);
    color:white;
    padding-top: 3px;
    padding-bottom: 6px;
    font-size: 15px;
    cursor: pointer;
}
#lang1{
    height:25px;
    width: 25px;
    margin-right: 10px;
    padding-top: 5px;
}

.rside{
    border-radius: 10px;
    height: 100vh;
    width: 100%;
    background-color: rgb(33, 30, 30);
}

.bar1{
    background-color: rgb(45, 41, 41);
    height: 10vh;
    font-size: 1.5vw;;
    color: white;
    margin-top: 0px;
    padding:20px;
    padding-left: 40%;
    box-sizing: border-box;
}

.login{
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 20px;
    height: 75%;
    padding-bottom: 15px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: black;
    
}